{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Title</title>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            <i class="material-icons md-48">free_breakfast</i>
            Complemento Design</a>
        <input class="form-control form-control-dark w-50" type="text" placeholder="Pesquisar" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Desconectar</a>
            </li>
        </ul>
    </nav>
</head>

<body>
<!-- CONTAINER PRINCIPAL -->
    <div class="container-fluid">
        <div class="row"> <!-- CONTEUDO AQUI -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>

                                <i class="material-icons md-48">leaderboard</i>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>

                                <i class="material-icons md-18">article</i>
                                Pedidos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                <i class="material-icons md-48">add_shopping_cart</i>
                                Produtos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                <i class="material-icons md-48">analytics</i>
                                Relat&oacuterio
                            </a>
                        </li>
                        <!-- MENUS VAZIOS
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                NOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                NOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                NOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                NOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                NOME
                            </a>
                        </li>
                        -->

                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>LAKJSDALSKDJALSDKAJ</h1>
            </main>
        </div>
    </div>

</body>

</html>


                <!-- PAINEL LATERAL, ESQUERDO DESABILITADO -->
                <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Saved reports</span>
                  <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                  </a>
                </h6>-->


    <!-- ALERTA BOOTSTRAP COM BOTAO
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">TITULO</h4>
        <p>Mensagem, capricornio diacho gente do ceu</p>
        <hr>
        <p class="mb-0">SEGUNDA MENSAGEM CAPRICORNIO.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p></p>
    </div>
    -->


 <!-- Content here -->
    <!-- <div class="p-3 mb-2 bg-dark text-white">  FUNDO
        <div class="shadow-p p-3 mb-5 bg-white rounded">
            <p align="center" class="text-dark">	Lorem ipsum mi sociosqu dui cras ornare quis tincidunt viverra, massa volutpat gravida in dapibus aliquam augue sagittis. adipiscing magna
                scelerisque ornare adipiscing fusce et purus sed fringilla eu diam, potenti hac viverra suscipit nullam ullamcorper eget nisl hendrerit. urna mauris
                mattis primis dui dolor lorem venenatis mattis, viverra integer sit ultrices pretium porta volutpat enim, pharetra tellus et dictum nostra vel orci. torquent
                fringilla luctus libero ipsum class pellentesque a nisl, netus ac aliquet lectus arcu aenean etiam porta volutpat, lorem ullamcorper ultrices diam et a
                leo. justo cursus non sagittis etiam quam posuere platea volutpat blandit, suscipit vehicula turpis malesuada egestas sapien lacinia euismod leo ut, nunc
                magna primis risus sagittis inceptos malesuada luctus.</p>

	            <p align="center" class = text-danger>Varius viverra platea vehicula magna sagittis tincidunt platea nulla hendrerit vitae, class ac donec aenean arcu sociosqu vehicula molestie adipiscing, dictum a class platea convallis volutpat malesuada fringilla turpis. erat etiam pulvinar duis habitant mollis vehicula, suscipit erat luctus hac lacinia purus donec, vehicula etiam sem ligula orci. interdum potenti faucibus posuere laoreet bibendum convallis sem, primis commodo curae eu inceptos praesent vivamus massa, non tristique massa imperdiet euismod netus. faucibus sapien hac amet posuere sem non, praesent porttitor eget ligula dui, tempor porttitor neque class morbi. lacinia iaculis molestie ultrices augue ante sagittis
                    porttitor duis scelerisque ante aptent fermentum, velit quam dictumst eros commodo nunc at dolor condimentum mollis etiam.</p>
        </div>

        </div>--->